<app-navbar></app-navbar>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-3 text-success" *ngIf="!isOpen">ON</h1>
        <h1 class="display-3 text-danger" *ngIf="isOpen">OFF</h1>
        <form class="example-form">
            <mat-form-field class="example-full-width w-100 mt-2">
              <input matInput placeholder="round" type="number" [(ngModel)]="switchValue" name="switchvalue" (keydown)="checkEnter($event)">
            </mat-form-field>
          </form>
          <button type="button" class="btn btn-success btn-lg"  role="button" (click)="submit()" >Submit</button>
      </div>

      <div class="row">
          <div class="col-sm-6">
              <div class="card">
              <div class="row">
                  <img class="col-5" style="height: 100%" src="../assets/16797721_1082677571843919_3219682428896607020_o.jpg" alt="Card image cap">
                  <div class="col-7">
                      <h5 class="card-title mt-2">Nathanan face</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
           
              </div>
            </div>
          <div class="col-sm-6">
            <div class="card">
            <div class="row">
                <img class="col-5" style="height: 100%" src="../assets/16797721_1082677571843919_3219682428896607020_o.jpg" alt="Card image cap">
                <div class="col-7">
                    <h5 class="card-title mt-2">Nathanan </h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
         
            </div>
          </div>
        </div>
</div>


